.heading1 {
    background-color: rgb(23, 154, 255);
    color: white;
    text-align: center;
    text-shadow: -3px 3px 0px black; 
}
.google {
    text-align: center;
    /*-ms-flex-item-align: center;
}
